---
import '@/styles/globals.css';
import NavBar from '../components/NavBar';
import { Toaster } from '../components/ui/sonner';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Poke API Ian Noguez</title>
  </head>
  <body class='bg-background'>
    <header class='h-24'>
      <NavBar />
    </header>
    <main class='max-w-4xl mx-auto'>
      <slot />
      <Toaster client:load />
    </main>
  </body>
</html>
